body {
  margin: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.2rem;
}

.filter-group {
  margin: 1rem;
}

.box-center {
  display: flex;
  align-items: center;
}

.small-circle {
  border-radius: 50%;
  height: 13px;
  width: 13px;
}
